{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
<style>
:root {
  --global-link-color: #54AEA6 !important;
  --global-link-color-hover: #76BEA6 !important;
  --global-masthead-link-color-hover: #76BEA6 !important;
  --global-border-color: #9EDDA2 !important;
}


.masthead a {
  color: white !important;
}

.masthead a:hover {
  color: #EBCF53 !important;
}

/* 标题颜色 */
.page__title {
  color: #54AEA6;
  border-bottom: 3px solid #9EDDA2;
}
</style>
