/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */
/* Color codes used for the theme */
$gray                       : #54AEA6;  /* ← 改 */
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #76BEA6;  /* ← 改 */
$notice-color               : #54AEA6;  /* ← 改 */
$success-color              : #9EDDA2;  /* ← 改 */
$warning-color              : #EBCF53;  /* ← 改 */

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #54AEA6;  /* ← 改 */
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #f5faf8;  /* ← 改 */
    --global-border-color               : #9EDDA2;  /* ← 改 */
    --global-dark-border-color          : #76BEA6;  /* ← 改 */
    --global-code-background-color      : #f5faf8;  /* ← 改 */
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #54AEA6;  /* ← 改 */
    --global-link-color-hover           : #76BEA6;  /* ← 改 */
    --global-link-color-visited         : #54AEA6;  /* ← 改 */  
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #54AEA6;  /* ← 改 */    
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}
